@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --fontMain: 'Josefin Sans', sans-serif;
    --fontEmphasis: 'Bebas Neue', cursive;
    --fontCode: 'Fira Code', monospace;

    --colorBlueMain: #011126;
    --colorBlue:#6BB3F2;
    --colorWhiteMain: #f6f6f6;
    --colorWhite: #FFF;
    --colorBlackMain: #0F0F0F;
    --colorBlack: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
}

/* #aboutMe - Start */
.conteiner_aboutMe {
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    text-align: center;
    
    background-color: var(--colorWhiteMain);

    padding: 0 10px;
}

.notification_skills {
    background-color: #00DE00;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;

    width: 200px;

    padding: 5px;
    text-align: center;

    border-radius: 10px;
    position: absolute;
    top: 75px;
    transform: translateX(235px);
    cursor: default;
    transition: ease .5s;
    opacity: 0;
    z-index: 1;
}

.notification_skills > img {
    width: 25px;
}

.box_titleAboutMe {
    margin-bottom: 10px;
}

.title_aboutMe {
    font-family: var(--fontEmphasis);
    font-size: 50px;
    color: var(--colorBlue);
}

.title_aboutMe::before {
    content: '#';
    color: var(--colorBlack);
}

.box_myphoto {
    margin-bottom: 10px;
    border-radius: 50%;
}

.box_myphoto > img {
    width: 150px;
    border-radius: 50%;
    transition: 1s;
}

.box_myphoto > img:hover {
    transform: scale(1.05);
    transition: .5s;
}

.content_aboutMe > h2 {
    font-size: 25px;
}

.content_aboutMe > h3 {
    margin-bottom: 10px;
    color: var(--colorBlueMain);
    font-size: 20px;
    font-family: var(--fontEmphasis);
    letter-spacing: 2px;
}

.content_aboutMe > p {
    font-size: 18px;
    line-height: 25px;
}

.textContact {
    font-family: var(--fontEmphasis);
    font-weight: bolder;
    font-size: 20px;
}

.box_iconsLinkSocial > a > img {
    width: 30px;
    filter: grayscale(1);
    transition: 0.3s;
}

.box_iconsLinkSocial > a > img:hover {
    transition: 0.3s;
    filter: grayscale(0);
    transform: scale(1.1);
}
/* #aboutMe - End */

/* #skills - Start */
.conteiner_skills {
    width: 50vw;
    height: 100vh;

    background-color: var(--colorBlackMain);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.title_skills {
    font-family: var(--fontEmphasis);
    font-size: 50px;
    color: #FC0A00;
}

.title_skills::before {
    content: '#';
    color: var(--colorWhite);
}

.btn_backSkills {
    background-color: transparent;
    border-style: none;
    position: absolute;
    top: 80px;

    cursor: pointer;

    display: none;
}

.btn_backSkills > img {
    width: 50px;
    filter: invert();
}

.box_skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.itensSkills {
    background-color: white;
    width: 70px;
    aspect-ratio: 1 / 1;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;

    cursor: pointer;

    margin: 5px;
}

.itemSkillSelect {
    width: 80px;
    aspect-ratio: 1 / 1;
    margin-top: 40px;
}

.itemSkillSelect:hover{
    transition: ease 0.2s;
}

.itemSkillSelect > img {
    width: 60px;
}

.itensSkills:hover .itensImgSkill {
    filter: grayscale(0);
    transform: scale(1.2);
    transition: ease .5s;
}

.itensImgSkill {
    width: 40px;
    filter: grayscale(1);
    transition: ease .5s;
}

.conteiner_painel {
    width: 600px;
    aspect-ratio: 16 / 9;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    font-size: 20px;
    text-align: center;

    padding: 0 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

    transition: ease 0.5s;
}

.effectPainel {
    transform: scale(0.0);
    opacity: 0;
}

.conteiner_infoSkills {
    width: 600px;
    aspect-ratio: 16 / 9;

    background-color: var(--colorWhite);
    transform: scale(0.3);
    opacity: 0;
    
    display: none;

    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    transition: ease .5s;
    padding: 0 5px;
}

.effectInfoSkills {
    transform: scale(1);
    opacity: 1;
    transition: ease 0.5s;
}
/* #skills - End */