@media screen and (max-width: 767px) {
    .content_infoSkills {
        position: relative;
        top: -180px;
    }

    .cont_html:hover {
        box-shadow: 0 0 0;
        transition: ease 0.5s;
    }
    
    .cont_css:hover {
        box-shadow: 0 0 0;
        transition: ease 0.5s;
    }
    
    .cont_js:hover {
        box-shadow: 0 0 0;
        transition: ease 0.5s;
}