.imgGojoAbout {
    width: 240px;
}

.conteiner-about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.box-info {
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.conteiner-aboutMain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 80%;
}

h1 {
    font-size: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.icon_about {

    width: 32px;
    
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .conteiner-aboutMain {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .conteiner-aboutMain {
        width: 100vw;
    }

    .conteiner-about {
        flex-flow: column-reverse nowrap;
    }
}

.box-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.box-social > a {
    background-color: var(--color-black_blue);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: var(--color-white);
    border-radius: 50%;
}